# Public site
PGH_SITE_ADDRESS=pghpizza.org,www.pghpizza.org
PGH_TLS_SERVER_NAME=pghpizza.org
PGH_FRONTEND_BASE_URL=https://pghpizza.org
FRONTEND_PORT=80
HTTPS_PORT=443

# Database
PGH_POSTGRES_DB=pgh_pizza
PGH_POSTGRES_USER=postgres
PGH_POSTGRES_PASSWORD=password

# Authentication
PGH_JWT_SECRET=4gdcApV4kjNII+XgAJIQJ+XlzxqnCLz0iIS3MKhyJGs=
PGH_JWT_ISSUER=pgh-pizza-api
PGH_JWT_EXPIRES_MINUTES=120

# Initial admin account
PGH_ADMIN_EMAIL=admin@pgh-pizza.local
PGH_ADMIN_PASSWORD=stengerj
PGH_ADMIN_DISPLAY_NAME=PGH-pizza Admin

# Email
SMTP_ENABLED=true
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=597
SMTP_USERNAME=aa1b3d001@smtp-brevo.com
SMTP_PASSWORD=507dd49827ed3a439e56b4814123070f953407da3f7db466074b5d371e2d95a3-W4eEIAVjKpHVwLqE
SMTP_FROM=no-reply@pghpizza.org
SMTP_AUTH=true
SMTP_STARTTLS=false
