{
    default_sni {$PGH_TLS_SERVER_NAME:localhost}
    cert_issuer acme {
        profile shortlived
    }
}

{$PGH_SITE_ADDRESS:http://localhost} {
    encode zstd gzip
    reverse_proxy frontend:80
}
